<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/submit}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update user"/>
    <br/>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${roles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
</form>

</body>
</html>